@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 1.5rem 0;
  line-height: 1.8;
}

.blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 1rem 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 2rem;
  margin: 2rem 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 3.5rem;
}

.blog-text h2,
h3 {
  font-size: 2.7rem;
}
